*

# Files
!algorythm.hpp
!CMakeLists.txt
!LICENSE
!README.md

# Dotfiles
!.gitignore
!.prettierrc.yaml

# Folders
!algorythm
!algorythm/*
!cmake
!cmake/*
!test
!test/*

# Dotfolders
!.github
!.github/workflows
!.github/workflows/*
