*

# Files
!*.cpp
!*.hpp
!CMakeLists.txt
!LICENSE
!README.md

# Dotfiles
!.clang-format
!.gitignore
!.prettierrc.yaml

# Folders
!algorythm
!algorythm/*
!cmake
!cmake/*
!include
!include/*
!test
!test/*

# Dotfolders
!.github
!.github/workflows
!.github/workflows/*
